@font-face {
    font-family:nb ;
    src: url(./Assets/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejoy;
    src: url(./Assets/Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nb';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
   
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor h5{
    font-size: 1.1vw;
    font-weight: 500;
}
#page1 video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
   
}
#page1-content{
    height: 100vh;
    width: 100%;
    /* background-color:black; */
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* padding-bottom: 5vw; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
    width: 100%;
    /* background-color: red; */
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content  h1 span{
    font-family: rejoy;
    font-size: 25vw;
    font-weight: 100;
    line-height: 27vw;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: beige;
}