@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'gilroy';
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}

/* Hide all scrollbars globally */
* {
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
  
  *{
    font-family: 'gilroy';
  }

  html,body{
    height: 100%;
    width: 100%;

}