/* Hide all scrollbars globally */
* {
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
  
  *{
    font-family: 'Gilroy';
  }

  :root {
    --main-color: #317EEB;
    --hover-color: #2764BA;
    --body-color: #E0E0E0;
    --box-color: white;
  }