@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'gilroy';
    src: url(./assets/Gilroy-Medium.ttf);
  }
  
    
    *::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Edge */
    }
    
    *{
      font-family: 'gilroy';
    }
  
    html,body{
      height: 100%;
      width: 100%;
  
  }